<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/mapcluster.css">
<div id="cluster-map" ></div>

    <div class="container mt-5 ">
    
        <% for (let campgrounds of campground){%>
            <div class="card " mb-4>
                <div class="row">
                    <div class="col-md-4">
                
                        <img src="<%= campgrounds.img[0].url%> " class="img-thumbnail" alt="...">
                    </div>
                </div>
                
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campgrounds.title %>
                    </h5>
                    <p class="card-text text-muted">
                        <%= campgrounds.location%>
                    </p>
                   
                    <a href="/campground/<%=campgrounds._id %>" class="btn btn-primary">Details</a>
                </div>

                <% }%>
            </div>
    </div>
    <script>
        let maptoken = '<%-process.env.MAP_BOX_TOKEN%>';
        const campgrounds = { features:' <%- JSON.stringify(campground) %>'}
    </script>
    <script src="/js/mapcluster.js"></script>